.app-header {
  background-color: var(--desaturated-dark-cyan);
  background-image: url('/public/assets/images/bg-header-desktop.svg');
  height: 150px;
}

@media (max-width: 480px) {
  .app-header {
    background-image: url('/public/assets/images/bg-header-mobile.svg');
  }
}
