.filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: white;
  position: absolute;
  width: 100%;
  top: -8.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px hsl(180, 29%, 50%, 0.5);
}

.filters-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters .clear-filters {
  margin-left: auto;
  font-weight: 700;
  color: var(--dark-grayish-cyan);
  transition: color 0.3s, text-decoration 0.3s;
}

.filters .clear-filters:hover {
  color: var(--desaturated-dark-cyan);
  text-decoration: underline;
}

.filter {
  display: flex;
}

.filter-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  padding-right: 0.5rem;
  background-color: var(--light-grayish-cyan-filter-tablets);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--desaturated-dark-cyan);
  transition: color 0.3s, background-color 0.3s;
}

.remove-filter {
  background: var(--desaturated-dark-cyan);
  display: flex;
  justify-content: center;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: background 0.3s;
}

.remove-filter:hover {
  background: var(--very-dark-grayish-cyan);
}

.remove-filter:active {
  background: var(--dark-grayish-cyan);
}

.remove-filter img {
  align-self: center;
}

@media (max-width: 1200px) {
  .filters {
    top: -6.5rem;
  }
}

@media (max-width: 899px) {
  .filters {
    position: relative;
    top: -3.5rem;
  }

  .filters .clear-filters {
    font-size: 0.875rem;
  }
}
