main {
  min-height: 100vh;
  background-color: var(--light-grayish-cyan);
  padding: 6rem 12rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.jobs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filters-container {
  position: relative;
}

@media (max-width: 1199px) {
  main {
    padding: 4rem;
  }
}

@media (max-width: 899px) {
  .jobs {
    gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 3rem 1.5rem;
  }
}
