*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan: hsl(180, 52%, 96%);
  --light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  font: 500 1rem 'League Spartan', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  font: inherit;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
